body {
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

#tong-menu {
    background-color: orangered;
    width: 100%;
    z-index: 30;
}

.khung-menu {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
}


/* logo */

.logo {
    width: 280px;
    height: 100px;
    float: left;
    overflow: hidden;
    padding-right: 70px;
    margin-top: 10px;
}


/*tim kiem*/

#tim-kiem {
    width: 450px;
    float: left;
    margin-top: 25px;
    padding-left: 50px;
}

.o-tim-kiem {
    width: 450px;
    height: 48px;
    background: white;
    border: none;
    border-radius: 10px;
    float: left;
    padding-left: 10px;
}

.chu-timkiem {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: orange;
    background: rgb(34, 74, 204);
    margin-left: -105px;
    margin-top: 15px;
    float: left;
}

.chu-timkiem:hover {
    background: rgb(149, 106, 219);
    color: black;
}

.call {
    width: 300px;
    height: 50px;
    margin-top: 25px;
    float: right;
}

img {
    float: left;
    padding-left: 70px;
}

.call .goi {
    width: 100px;
    height: 50px;
    float: left;
    margin-top: 10px;
    color: whitesmoke;
}

.dong2 {
    width: 1100px;
    height: 30px;
    padding-top: 10px;
    float: left;
    padding-left: 200px;
}


/* menu 2 cấp */

.menu>li {
    float: left;
    margin-right: 15px;
    text-align: center;
    padding-left: 10px;
}

.menu>li>a {
    text-transform: uppercase;
    color: whitesmoke;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu li a {
    display: inline-block;
    text-align: center;
    color: white;
}

.cap2 {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    z-index: 2;
    overflow: hidden;
    padding-left: 10px;
}

.cap2 li a {
    line-height: 30px;
    height: 30px;
    width: 100%;
    text-align: center;
    color: black;
    background-color: whitesmoke;
}

.menu li:hover>.cap2 {
    display: block;
}

.menu li a:hover {
    /* background-color: rgb(117, 5, 5); */
    color: black;
}

.cap2 li a:hover {
    color: red;
}

.menu>li>.cap2 {
    top: 15px;
    left: 0;
}

#phaidong2 {
    width: 50px;
    margin-right: 100px;
    display: inline-block;
    padding-left: 50px;
    margin-top: -10px;
    position: relative;
}

#phaidong2 img {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -10px;
    margin-left: -150px;
}

#phaidong2 li {
    display: inline-block;
    width: 140px;
    text-align: center;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    border-left: 1px solid #FF8B5E;
    margin-left: -15px;
}

#phaidong2 li:hover {
    font-size: 15px;
    transition: all .5s ease;
}

#phaidong2 li a {
    color: whitesmoke;
    text-decoration: none;
}

#phaidong2 li a:hover {
    color: black;
}

.hien-thi-so-luong-gio {
    position: absolute;
    top: -10px;
    left: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(11, 70, 122);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: none;
}


.img {
    width: 100%;
}

input {
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* giỏ hàng */
#giohang {
    border: 1px solid rgb(240, 213, 213);
    box-shadow: 2px 2px 4px rgb(143, 58, 58);
    padding: 20px;
    margin: auto;
    max-width: 1100px;
    margin-top: 10px;
}

.giohang .giohangitemtieude {
    margin-bottom: 20px;
    font-weight: 600;
    color: red;
    cursor: pointer;
    
    
}
.giohang .tieude {
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
    margin-top: 20px;
}
.item-gio-hang {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-gio-hang .hinhAnh img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.item-gio-hang .hinhAnh {
    width: 60px;
}

.item-gio-hang input {
    width: 100%;
}




.item-gio-hang .hinhAnh,
.soLuong,
.tongTien,
.hanhh-dong {
    flex: 1;
    margin-left: 20px;
}



.item-gio-hang .gia {
    flex: 2;
}

.item-gio-hang .ten {
    flex: 3;
}

.item-gio-hang .gia .gia-goc {
    font-size: 12px;
    text-decoration: line-through;
    color: #aaa;
}

.gia-ban {
    color: red;
}

.hanhh-dong :hover {
    color: red;
    cursor: pointer;
}



.form {
    width: 1100px;
    border: 1px solid rgb(236, 103, 103);
    box-shadow: 2px 2px 4px rgb(85, 21, 21);
    padding: 30px;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
}

.form label , input, button {
    width: 100%;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.form input, button {
    padding: 10px;
    border: 1px solid rgb(187, 148, 148);
    border-radius: 5px;
}
.form .error {
    font-size: 12px;
    font-style: italic;
    color: red;
    line-height: 12px;
    height: 12px;
}

.form .muahang {
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
}
.btn {
    background-color: sandybrown;
}
.btn:hover {
    background-color: rgb(240, 138, 56);
    color: rgb(240, 213, 213);
}